*, *:before, *:after {
  @include vendors(box-sizing, border-box);
  background-repeat: no-repeat;
}

.hidden {
  display: none !important;
}

.clearfix {
  @include clearfix();
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  @include vendors(transition-property, transform);
  @include vendors(transition-duration, $transitionDuration);
  overflow-y: scroll;

  @include small() {
    background-color: $extraDarkGray;
  }

  &.no-scroll {
    overflow-y: hidden;

    & > #app {
      overflow-y: scroll;

      #navigation, #contentNavigation {
        opacity: 0;
      }
    }
  }

  @include small() {
    overflow-x: hidden;
  }

  &.no-scroll-mobile, &.no-scroll-small {
    @include small() {
      overflow-y: hidden;
    }
  }

  &.no-scroll-medium {
    @include small() {
      overflow-y: hidden;
    }
  }

  &.away-for-small {
    @include small() {
      #header, #container, #footer, #navigation {
        @include vendors(transform, translateX(-1 * $navigationOffset));
      }

      #header, #container, #footer {
        opacity: 0.5;
      }
    }
  }
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.width-wrapper {
  width: 100%;
  max-width: $pageWidth;
  margin-left: auto;
  margin-right: auto;
  padding-left: $contentPadding;
  padding-right: $contentPadding;
}

.full-height {
  min-height: 700px;
  @include vendors(transition-property, all);
  @include vendors(transition-duration, $transitionDuration);
  @include vendors(transition-timing-function, ease-out);

  @include small() {
    min-height: 400px;
  }
}

#app {
  min-height: 100%;

  #layout, #container, #footer {
    @include vendors(transition-property, all);
    @include vendors(transition-duration, $transitionDuration);
    @include vendors(transition-timing-function, ease-out);
  }
}

// Display only for small screens
.show-for-small {
  display: none;

  @include small() {
    display: block;
  }
}

// Hide only for small screens
.hide-for-small {
  @include small() {
    display: none !important;
  }
}

// Display only for medium screens
.show-for-medium {
  display: none !important;

  @include medium(false) {
    display: block !important;
  }
}

// Hide only for medium screens
.hide-for-medium {
  @include medium(false) {
    display: none !important;
  }
}

// Display only for large screens
.show-for-large {
  @include noOverflow() {
    display: none;
  }
}

// Hide only for large screens
.hide-for-large {
  display: none !important;

  @include noOverflow() {
    display: block !important;
  }
}

// Display only for large and medium screens
.show-for-large-and-medium, .show-for-medium-and-large {
  @include small() {
    display: none !important;
  }
}

// Hide only for large screens
.hide-for-large-and-medium, .hide-for-medium-and-large {
  display: none !important;

  @include small() {
    display: block !important;
  }
}

// Display only for small and medium screens
.show-for-small-and-medium, .show-for-medium-and-small {
  display: none;

  @include medium() {
    display: block !important;
  }
}

// Hide only for small screens
.hide-for-small-and-medium, .hide-for-medium-and-small {
  display: block;

  @include medium() {
    display: none !important;
  }
}
