// @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("../fonts/font-awesome/css/font-awesome.min.css");
@import url("//fonts.googleapis.com/css?family=Roboto:400,300,300italic,700italic,700,400italic|Roboto+Slab:400,300,700");


* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

table {
  border-spacing: 0;
  border-collapse: collapse;

  td, th {
    vertical-align: top;
    text-align: left;
  }

  tbody {
    tr {
      &:nth-child(2n) {
        background-color: #f1f1f1;
      }
    }

    th, td {
      border-top: solid 1px #dddddd;
    }
  }
}

a {
  color: $linkBlue;

  &:link, &:visited {
    text-decoration: none;
  }

  &:hover, &:visited:hover {
    text-decoration: underline;
  }

  img {
    border: none;
  }
}

body {
  font-size: $fontSize;
  font-weight: $defaultWeight;
}

h1, h2, h3, h4, h5, h6, li, p {
  line-height: 1.4em;
}

h1 {
  font-size: 250%;
  font-weight: $titleWeight;
  font-family: "Roboto Slab";
  font-weight: 400;
}

h2 {
  font-size: 200%;
  font-weight: $titleWeight;
}

h3 {
  font-size: 150%;
  font-weight: $titleWeight;
}

h1, h2, h3 {
  margin: 1em 0 0.5em;
}

.teaser {
  margin-bottom: 0;
  
  & + h1, & + h2, & + h3 {
    margin-top: 0;
  }
}

p {
  margin: 1em 0;
}

button, .button, .btn {
  display: inline-block;
  color: white;
  background-color: $darkGray;
  height: $buttonHeight;
  line-height: $buttonHeight;
  text-align: center;
  vertical-align: middle;
  padding: 0 $contentPadding * 3;
  font-size: $fontSizeButton;
  text-decoration: none !important;

  &:hover, &:active {
    background-color: lighten($darkGray, 5%);
  }
}

blockquote {
  margin: 0;
  padding: 0 0 0 2em;
  border-left: solid 4px $lightGray;
}
