// @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("../fonts/font-awesome/css/font-awesome.min.css");
@import url("//fonts.googleapis.com/css?family=Roboto:400,300,300italic,700italic,700,400italic|Roboto+Slab:400,300,700");


body, input, select, textarea {
  font-family: $defaultFont;
}

table {
  border-spacing: 0;
  border-collapse: collapse;

  td, th {
    vertical-align: top;
    text-align: left;
  }

  tbody {
    tr {
      &:nth-child(2n) {
        background-color: #f1f1f1;
      }
    }

    th, td {
      border-top: solid 1px #dddddd;
    }
  }
}

a {
  color: $linkBlue;

  &:link, &:visited {
    text-decoration: none;
  }

  &:hover, &:visited:hover {
    text-decoration: underline;
  }

  img {
    border: none;
  }
}

body {
  font-size: $fontSize;
  font-weight: $defaultWeight;
  color: $fontMediumGray;
}

$smallQ: 0.6;

h1, h2, h3, h4, h5, h6, li, p {
  line-height: 1.4em;
  color: $fontGray;
}

h3 {
  font-size: $fontSizeHeading3;
  font-weight: $titleWeight;

  @include small() {
    font-size: $fontSizeHeading3 * $smallQ;
  }
}

h2 {
  font-size: $fontSizeHeading2;
  font-weight: $titleWeight;

  @include small() {
    font-size: $fontSizeHeading2 * $smallQ;
  }
}

h1, .block-title, .big-image h2 {
  font-size: $fontSizeHeading1;
  font-weight: $titleWeight;
  font-family: $highlightFont;
  font-weight: 400;

  @include small() {
    font-size: $fontSizeHeading1 * $smallQ;
  }
}

h1, h2, h3 {
  margin: 1em 0 0.5em;

  a:hover, a:visited:hover {
    text-decoration: none;
  }
}

.teaser {
  margin-bottom: 0;

  & + h1, & + h2, & + h3 {
    margin-top: 0;
  }
}

p {
  margin: 1em 0;
}

button {
  font-size: $fontSizeButton;
}

button, .button, .btn {
  display: inline-block;
  color: white;
  background-color: $buttonBackground;
  border: solid 1px $buttonBackground;
  min-height: $buttonHeight;
  text-align: center;
  vertical-align: middle;
  padding: 0.6em 3em;
  text-decoration: none !important;
  font-size: $fontSizeButton;
  font-weight: 400;
  @include vendors(transition-property, all);
  @include vendors(transition-duration, $transitionDuration);

  &:hover, &:active {
    background-color: $buttonBackgroundHover;
  }

  &.white {
    background-color: white;
    color: $darkGray;

    &:hover, &:active {
      color: white;
      background-color: $buttonBackgroundHover;
    }
  }

  @include small() {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: block;
    text-align: center;
  }
}

.buttons a {
  &:hover, &:visited:hover {
    text-decoration: none;
  }
}

blockquote {
  margin: 0 2em;
  padding: 0 0 0 2em;
  border-left: solid 4px $lightGray;
  white-space: pre-line;
}
