&.confirmation {
  $fq: 0.6;

  .modal-close {
    display: none !important;
  }

  .close {
    $s: 30px;
    color: $fontDarkGray;
    font-size: $s * 0.8;
    display: block;
    width: $s;
    height: $s;
    line-height: $s;
    text-align: center;
    position: absolute;
    margin-top: -0.8 * $s;
    margin-left: -0.8 * $s;
  }

  .modal-content {
    width: 90%;
    max-width: 567px;
    min-height: 430px * $fontSizeQ;
    margin-left: auto;
    margin-right: auto;
    padding: $contentPadding $contentPadding * 2;
    border-radius: $contentPadding * 2;
    font-size: 21px * $fontSizeQ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    @include small() {
      font-size: 21px * $fq;
      min-height: 430px * $fq;
    }

    h2 {
      font-size: 40px * $fontSizeQ;

      @include small() {
        font-size: 40px * $fq;
      }
    }

    .content {
      & > *:first-child {
        margin-top: 0;
      }
    }

    .social {
      font-size: 48px * $fontSizeQ;
      display: block;
      text-align: center;
      margin: 0;
      padding: 0;

      @include small() {
        font-size: 48px * $fq;
      }

      & > li {
        display: inline;

        & + li {
          margin-left: 1em;
        }
      }

      &, a {
        color: $fontDarkGray;

        &, &:hover {
          text-decoration: none;
        }
      }
    }

    .form-actions {
      a {
        display: block;
        width: 100%;
        max-width: 307px * $fontSizeQ;
        border: solid 1px black;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        font-size: 17.5px * $fontSizeQ;
        color: $fontDarkGray;
        border-color: $darkBrown;
        cursor: pointer;

        @include small() {
          font-size: 17.5px * $fq;
        }

        & + a {
          margin-top: $contentPadding / 2;
        }

        &:hover {
          background-color: $gold;
          border-color: $gold;
          color: white;
        }

        &.highlight {
          background-color: $darkBrown;
          color: white;

          &:hover {
            background-color: $gold;
          }
        }
      }
    }
  }

  &.confirmation-small .modal-content {
    min-height: 290px * $fontSizeQ;

    @include small() {
      min-height: 290px * $fq;
    }
  }
}
