&.icon {
  text-align: center;
  display: inline-block;

  &.medium {
    width: 2em;
    height: 2em;
  }

  &.large {
    width: 4em;
    height: 4em;
  }

  & > img {
    display: block;
    vertical-align: middle;
    width: 100%;
    padding: 24%;
  }

  &.marker > img {
    margin-top: 1%;
  }

  &, &.black, &.grey {
    @include hexagon($darkGray);
  }

  &.turquoise {
    @include hexagon($turquoise);
  }
}

&.details-view + .icon-list {
  padding-top: 0;
}
