.home-list {
  $p: $contentPadding / 4;
  $w: 424px + $p;
  $wMedium: $w / 2;
  $wSmall: 160px;
  $wTolerance: 319px;

  text-align: center;

  @include medium() {
    padding: $p / 2;
    padding: $p / 2;

    .spacer {
      display: none;
    }
  }

  .list-container {
    position: relative;
    text-align: center;

    .card {
      width: $w;
      display: inline-block;
      float: left;
      position: relative;
      text-align: left;
      padding: $p;

      h3 {
        font-size: 32px;
      }

      .hoverable {
        min-height: 90px;
      }

      .badge {
        $s: 60px;
        display: table;
        position: absolute;
        right: $contentPadding;
        margin-top: -0.5 * $s;
        z-index: 1;
        font-size: $s * 0.22;
        text-align: center;
        color: white;
        font-weight: $titleWeight;
        line-height: 1.2em;

        & > * {
          display: table-cell;
          width: 100%;
          height: 100%;
          padding-left: 0.6em;
          padding-right: 0.6em;
          vertical-align: middle;
          text-align: center;
        }

        @include diamond($s, $brown);

        @include medium() {
          width: $s * 0.8;
          height: $s * 0.8;
        }

        &.medium {
          @include diamond($s, $gold);
        }
      }

      .shares {
        color: white;
        position: absolute;
        left: $contentPadding;
        bottom: $contentPadding;
        z-index: 1;
        font-size: $fontSizeSmall;

        i:before {
          font-size: $fontSize;
          margin-right: 0.5em;
          display: inline-block;
          vertical-align: middle;
        }

        & > * + * {
          margin-left: 1.5em;
        }
      }

      @include medium() {
        width: $w / 2;
      }

      @media only screen and (max-width: $w) {
        width: 50%;
      }

      @media only screen and (max-width: $wTolerance) {
        width: 100%;
        float: none;
        padding-left: 0;
        padding-right: 0;
      }

      img {
        width: 100%;
        height: auto;
      }

      .details {
        padding: $contentPadding;
        background-color: white;
        font-size: 26px;

        .location {
          font-size: 24px;

          & > * + *:before {
            content: ', ';
          }
        }

        & > * {
          margin: 0;
        }

        h3 {
          margin-bottom: 5px;
          font-weight: $defaultWeight;
        }

        .location {
          font-style: italic;
          font-weight: $defaultWeight;
          color: $fontGoldDark;
        }

        .price {
          font-size: 28px;
          font-weight: $titleWeight;
          margin-top: 0.5em;

          .currency {
            display: inline-block;
            vertical-align: baseline;
            margin-right: 0.2em;
            font-size: 30px;
            color: $fontGoldDark;
          }
        }
      }
    }
  }

  @media only screen and (min-width: $wTolerance) {
    &.init {
      .card {
        float: none;
        position: absolute;
        left: 50%;
        top: 0;
        $props: margin-left, margin-top;
        @include vendors(transition-property, $props);
        @include vendors(transition-duration, $transitionDuration);
        @include vendors(transition-timing-function, ease-out);
        z-index: 1;

        &.invisible {
          opacity: 0;
          z-index: 0;
          margin-top: 0;
          margin-left: -0.5 * $w !important;
        }
      }
    }
  }

  & > .single {
    text-align: center;

    .card {
      position: static;
      margin-left: auto;
      margin-right: auto;

      @include medium() {
        width: $w;
      }

      @media only screen and (max-width: $wSmall * 2) {
        width: 100%;
      }
    }
  }
}
