#container {
  padding-bottom: $footerHeight;
  @include clearfix();
}

.spacer {
  height: 6 * $contentPadding;
  display: block;
  background-color: white;
}

iframe {
  border: none;
}

.highlight {
  font-size: 150%;
  font-style: italic;
  color: $fontMediumGray;
}
