#container {
  padding-bottom: $footerHeight;
  @include clearfix();
  @import "content/about";
  @import "content/preview";
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.fineprint {
  margin-top: 5 * $contentPadding;
  text-align: center;
  font-size: $fontSizeSecondary;

  &, a {
    color: $fontLightGray;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $fontGray;
    }
  }
}

.spacer {
  height: 3 * $contentPadding;
  display: block;
  border: none;
  margin: 0;
}

iframe {
  border: none;
}

.highlight {
  font-size: 150%;
  font-style: italic;
  color: $fontMediumGray;
}

.call-to-action {
  text-align: center;
  & > * {
    margin-left: auto;
    margin-right: auto;
  }
}

.auto-columns {
  @include vendors(column-count, 2);
  @include vendors(column-width, 50%);
  @include vendors(column-gap, 80px);
  @include vendors(column-fill, balance);
  // column-fill: balance

  width: auto;
  margin-left: auto;
  margin-right: auto;

  @include small() {
    @include vendors(column-count, 1);
    @include vendors(column-width, 100%);
    @include vendors(column-gap, 0);
  }
}
