#cookiePolicy {
  $h: 22px;
  $p: 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: $zCookie;
  font-weight: $defaultWeight;
  text-align: center;
  display: none !important;

  @include medium() {
    top: auto;
    bottom: 0;
  }

  @include small() {
    left: 30px;
    right: 30px;
    top: auto;
    bottom: $p;
  }

  p {
    display: inline-block;
    margin: 0 auto;
    padding: $p 0.5em $p $contentPadding;
    min-height: $h;
    line-height: $h - 2 * $p;
    background-color: black;
    width: auto;
    font-size: $fontSizeSecondary;
    vertical-align: top;
    position: relative;

    &, a {
      color: white;
    }

    .close {
      display: block;
      position: absolute;
      left: 0;
      top: $p;
      text-align: center;
      cursor: pointer;
      color: $red;
      width: $h;
      margin-right: 0.5em;
    }
  }
}
