#cookiePolicy {
  $h: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $h;
  line-height: $h;
  text-align: center;
  z-index: $zCookie;
  font-weight: 300;
  text-align: center;

  p {
    margin: 0 auto;
    padding: 0.2em 0.5em;
    background-color: black;
    width: auto;
    display: block;
    font-size: 12px;
    display: inline-block;

    &, a {
      color: white;
    }

    .close {
      text-align: center;
      cursor: pointer;
      color: $red;
      margin-right: 0.5em;
    }
  }
}
