.final-tiles-gallery {
  position: relative;
  
  .tile {
    float: left;
    overflow: hidden;
    margin: 0;
    background: #000;
    //opacity: 0;
    
    img {
      display: block;
      margin: auto;
      
      &.item {
        @include vendors(transition-property, opacity);
        @include vendors(transition-timing-function, linear);
        @include vendors(transition-duration, 200ms);
        display: block;
        position: relative;
        width: 100%;
      }
    }
    
    &.ftg-loaded {
      /*display: block;*/
      opacity: 1;
    }
    
    &.ftg-hidden {
      @include vendors(transform, scale(0.5));
    }
  }
  
  .edge {
    position: absolute;
    z-index: 1000;
    background: #333;
    color: #fff;
    font-size: 11px;
    padding: 4px;
    font-family: sans-serif;
    
    &.enlarged-true {
      color: yellow;
    }
  }
  
  .ftg-social {
    position: absolute;
    @include vendors(transition-property, all);
    @include vendors(transition-duration, 500ms);
    z-index: 10;
    
    a {
      color: #fff;
      text-decoration: none;
      text-align: center;
      font-size: 16px;
      transition: all .3s;
      
      &:hover {
        color: #ccc;
      }
    }
  }
  
  .hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all .3s;
    opacity: 0;
    display: table;
    width: 100%;
    height: 100%;
    
    .icon {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color: #fff;
      font-size: 20px;
    }
  }
  
  .tile:hover .hover {
    opacity: 1;
  }
  
  .tile iframe.item {
    width: 100%;
  }
  
  .ftg-filters {
    margin-bottom: 20px;
    
    a {
      display: inline-block;
      margin-right: 10px;
      color: #777;
      padding: 4px 10px;
      border: 1px solid #777;
      text-decoration: none;
      outline: 0;
      text-shadow: none;
      box-shadow: none;
    }
    
    &:hover, &.selected {
      color: #000;
      border-color: #333;
      text-decoration: none;
    }
  }
  
  /* EFFECT: IMG FADE OUT */
  &.effect-fade-out .tile img {
    transition: all 0.5s;
    opacity: 1;
  }
  
  &.effect-fade-out .tile:hover img {
    opacity: .5;
  }
  
  /* EFFECT: ZOOM */
  &.effect-zoom {
    .tile img {
      @include vendors(transition-property, all);
      @include vendors(transition-duration, 500ms);
      @include vendors(transform, perspective(1000px) translate3d(0, 0, 0));
      position: relative;
      display: block;
    }
    
    .tile:hover img {
      @include vendors(transform, perspective(1000px) translate3d(-20px, -10px, 180px));
    }
  }
  
  /* EFFECT: DEZOOM */
  &.effect-dezoom {
    .tile:hover img {
      opacity: .8;
    }
    
    .tile {
      display: block;
      background: #000;
      
      img {
        opacity: 1;
        transition: all 0.35s;
        -moz-transform: scale(1.12);
        -webkit-transform: scale(1.12);
        -ms-transform: scale(1.12);
        transform: scale(1.12);
        display: block;
      }
      
      &:hover img {
      	-moz-transform: scale(1);
      	-webkit-transform: scale(1);
      	-ms-transform: scale(1);
      	transform: scale(1);
      }
    }
  }
  
  /* CAPTION TOP */
  .tile {
    display: block;
    background: #000;
    
    span {
      font-family: 'Lato', sans-serif;
      display: block;
      position: absolute;
      width: 68%;
      left: 20px;
      color: #fff;
      z-index: 10;
      font-size: 18px;
      opacity: 0;
      transition: all .5s;
      
      &.title {
        font-weight: 900;
        top: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      
      &.subtitle {
        top: 70px;
        font-size: 14px;
        font-weight: 300;
      }
    }
    
    &:hover span {
      opacity: .8;
      
      &.title {
        top: 20px;
        opacity: .9;
      }
      
      &.subtitle {
        top: 52px;
      }
    }
  }
  
  /* CAPTION BOTTOM */
  &.caption-bottom .tile {
    display: block;
    background: #000;
    
    span {
      font-family: 'Lato', sans-serif;
      display: block;
      position: absolute;
      width: 68%;
      left: 20px;
      color: #fff;
      z-index: 10;
      font-size: 18px;
      opacity: 0;
      transition: all .5s;
      
      &.title {
        font-weight: 900;
        bottom: 70px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      &.subtitle {
        bottom: 0px;
        font-size: 14px;
        font-weight: 300;
      }
    }
    
    &:hover span {
      opacity: .8;
      
      &.title {
        bottom: 46px;
        opacity: .9;
      }
      
      &.subtitle {
        bottom: 20px;
      }
    }
  }
  
  /* EFFECT FRAME */
  &.effect-frame .tile:hover:before {
    opacity: 1;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  &.effect-frame .tile:before {
    opacity: 0;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    content: "";
    display: block;
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    transition: all .35s;
  }
  /* CAPTION BACKGROUND */
  &.caption-bg .tile span {
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    padding: 2px 6px;
  }
  /* SOCIAL ICONS BACKGROUND */
  &.social-icons-bg .ftg-social {
    background: #fff;
    box-shadow: 0px 0px 10px #000;
  }
  &.social-icons-bg .ftg-social a {
    color: #333;
  }
  &.social-icons-bg .ftg-social a:hover {
    color: #555;
  }
  /* SOCIAL ICONS DARK BACKGROUND */
  &.social-icons-bg.social-icons-bg-dark .ftg-social {
    background: #333;
  }
  &.social-icons-bg.social-icons-bg-dark .ftg-social a {
    color: #333;
  }
  &.social-icons-bg.social-icons-bg-dark .ftg-social a:hover {
    color: #eee;
  }
  /* SOCIAL ICONS RIGHT */
  &.social-icons-right .ftg-social {
    width: 40px;
    top: 0;
    height: 100%;
    right: -50px;
  }
  &.social-icons-right .ftg-social a {
    margin: 10px 0;
    display: block;
  }
  &.social-icons-right .tile:hover .ftg-social {
    right: 0;
  }
  /* SOCIAL ICONS BOTTOM */
  &.social-icons-bottom .ftg-social {
    width: 100%;
    bottom: -40px;
    height: 30px;
    text-align: right;
  }
  &.social-icons-bottom .ftg-social a {
    margin: 0 5px;
    display: inline-block;
  }
  &.social-icons-bottom .ftg-social a:last-of-type {
    margin-right: 15px;
  }
  &.social-icons-bottom .tile:hover .ftg-social {
    bottom: 0;
  }
  &.social-icons-bottom.social-icons-circle .ftg-social {
    height: 36px;
  }
  &.social-icons-bottom.social-icons-bg .ftg-social {
    height: 40px;
  }
  &.social-icons-bottom.social-icons-bg .ftg-social a {
    margin: 10px 5px;
  }
  /* SOCIAL ICONS CIRCLE */
  &.social-icons-circle .ftg-social a {
    margin: 5px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 29px;
    text-align: center;
    display: inline-block;
    background: #fff;
    color: #333;
  }
  &.social-icons-circle .ftg-social a:hover {
    color: #fff;
    background-color: #333;
  }
}
