#footer {
  padding: 5 * $contentPadding 0;
  background-color: white;
  text-align: center;
  font-weight: 400;

  h3 {
    img {
      vertical-align: middle;
      height: 40px;
    }
  }

  ul {
    margin: 1em 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;

    & + ul {
      margin-top: 2em;
    }

    &.social img {
      height: 30px;
    }

    li {
      display: inline;

      @include small() {
        display: block;
      }

      & + li {
        margin-left: 2em;

        @include small() {
          margin-left: 0;
        }
      }
    }
  }

  a {
    color: $linkGray;
  }
}
