#footer {
  $w: 80px;
  $paddingTop: 3 * $contentPadding;
  margin-top: -1 * $footerHeight;
  min-height: $footerHeight;
  padding: $paddingTop ;
  background-color: white;
  text-align: center;
  font-weight: 400;

  h3 {
    margin-bottom: 0.4 * $w;

    img {
      width: $w;
      position: absolute;
      margin-top: -1 * ($w + $paddingTop);
      left: 50%;
      margin-left: -0.5 * $w;
      cursor: pointer;
    }
  }

  a {
    color: $darkGray;
  }

  .logotype {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4 * $contentPadding;
    width: 200px;
  }

  ul {
    margin: 0 0 4 * $contentPadding;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 120%;
    letter-spacing: 0.1em;

    &.social a {
      font-size: 300%;
      @include vendors(transition-property, color);
      @include vendors(transition-duration, $transitionDuration);
      margin: 0 0.1em;

      &:hover {
        color: black;
      }
    }

    li {
      display: inline;

      @include small() {
        display: block;
      }

      & + li {
        margin-left: 1.5em;

        @include small() {
          margin-left: 0;
        }
      }
    }
  }
}
