.mainpage {
  .splash {
    $q: 14px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .symbol {
      width: 7 * $q;
    }

    .logotype {
      width: 25 * $q;
      margin-top: $q;
    }

    .slogan {
      width: 13 * $q;
      margin-top: $q;
    }

    h1 {
      font-size: 120px;

      @include medium() {
        font-size: 80px;
      }

      @include small() {
        font-size: 40px;
      }
    }

    h1, p {
      margin: 0;
    }
  }
}
