#mainpage {
  .splash {
    $q: 14px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .symbol {
      width: 7 * $q;
    }

    .logotype {
      width: 25 * $q;
      margin-top: $q;
    }

    .slogan {
      width: 13 * $q;
      margin-top: $q;
    }

    h1, p {
      margin: 0;
    }
  }

  .mainpage-list {
    background-color: white;

    @media only screen and (min-width: 1467px) {
      .preview:nth-child(3n) ~ .preview {
        display: none;
      }
    }
  }

  .call-to-action {
    padding-bottom: 5 * $contentPadding;
    margin: 0;

    @include small() {
      padding-bottom: $contentPadding;
      margin-left: $contentPadding / 2;
      margin-right: $contentPadding / 2;
    }

    .button {
      max-width: 20em;
      width: 100%;
    }
  }

  .find-agents {
    .row > * {
      padding: 2 * $contentPadding 4 * $contentPadding;

      @include medium() {
        padding: 2 * $contentPadding;
      }

      @include small() {
        padding: $contentPadding;
      }
    }

    .right {
      img {
        display: block;
        width: 400px;
        height: 515px;
        background-color: $lightGray;
        border: solid 1px $mediumGray;
      }
    }
  }
}
