#modals {
  .modal-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $zModal;

    & > .modal-close {
      position: absolute;
      z-index: 1;
      top: $contentPadding;
      right: $contentPadding;
      @include ball();
      margin-top: 0;

      &:hover {
        text-decoration: none;
      }
    }

    & > .modal-container {
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      text-align: center;

      & > .modal-content {
        background-color: white;
        width: auto;
        display: inline-block;
        text-align: left;

        .gallery-image {
          position: absolute;
          top: 50%;
          left: 50%;
          max-width: 100%;
          max-height: 100%;
          @include vendors(transition-property, all);
          @include vendors(transition-duration, $transitionDuration);
          @include vendors(transform, translateX(-50%) translateY(-50%));

          &[data-away="prev"] {
            margin-left: -100%;
          }

          &[data-away="next"] {
            margin-left: 100%;
          }
        }
      }
    }
  }
}
