#navigation {
  $offset: 10px;
  $pv: $contentPadding;
  display: block;
  position: fixed;
  z-index: $zNavigation;
  width: 100%;
  line-height: $headerHeight - 2 * $pv;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
  font-size: $fontSizeSecondary;
  $spacing: 5px;
  $h: $navigationIconSize / 3 - $spacing;
  $oSquared: $h / 1.44;
  $oThirds: 0.5 * $h;

  .icon {
    display: block;
    width: $navigationIconSize;
    height: $navigationIconSize;
    position: fixed;
    z-index: $zNavigation - 1;
    top: $offset * 2;
    right: $offset * 2;
    border-radius: $navigationIconSize;

    &:before {
      $p: 14px;
      content: ' ';
      display: block;
      position: absolute;
      z-index: -1;
      width: $navigationIconSize + $p;
      height: $navigationIconSize + $p;
      margin-top: -0.5 * $p;
      margin-left: -0.5 * $p;
      background-color: white;
      border-radius: $navigationIconSize + $p;
    }

    @include vendors(transition-timing-function, linear);
    @include vendors(transition-property, all);
    @include vendors(transition-duration, 1000ms);

    & > * {
      display: block;
      position: absolute;
      width: $navigationIconSize;
      height: $h;
      background-color: black;
      border-radius: 2px;
      @include vendors(transition-property, all);
      @include vendors(transition-duration, $transitionDuration);
      @include vendors(transition-timing-function, ease-out);

      @include small() {
        @include vendors(transition-property, none);
      }

      &.top {
        top: 0;
        @include vendors(transform-origin, 50% 0 0);
        @include vendors(transform, translateY(4px));
      }

      &.middle {
        top: 50%;
        margin-top: -0.5 * $h;
      }

      &.bottom {
        top: 100%;
        margin-top: -1 * $h;
        @include vendors(transform-origin, 50% 100% 0);
        @include vendors(transform, translateY(-4px));
      }
    }

    &.open {
      & > * {
        background-color: $red;
        box-shadow: none;

        &.middle {
          opacity: 0;
        }

        &.top {
          $m: 0.5 * ($navigationIconSize - $oSquared);
          $t: translateY($m) rotate(45deg);
          @include vendors(transform, $t);
        }

        &.bottom {
          $m: -0.5 * ($navigationIconSize - $oSquared);
          $t: translateY($m) rotate(-45deg);
          @include vendors(transform, $t);
        }
      }
    }

    &.loading {
      @include vendors(animation-name, rotate);
      @include vendors(animation-iteration-count, infinite);
      @include vendors(animation-duration, 1000ms);
      @include vendors(animation-direction, initial);
      @include vendors(animation-timing-function, linear);

      & > * {
        background-color: $turquoise;
        box-shadow: none;
        $x: 0.866 * $oThirds;
        &.top {
          $m: 0.5 * ($navigationIconSize - $oThirds);
          $t: translateX($x) translateY($m) rotate(60deg);
          @include vendors(transform, $t);
        }

        &.bottom {
          $m: -0.5 * ($navigationIconSize - $oThirds);
          $t: translateX($x) translateY($m) rotate(-60deg);
          @include vendors(transform, $t);
        }
      }
    }
  }

  & > .container {
    position: fixed;
    top: $offset;
    right: $offset;
    z-index: 9;
    width: 0;
    overflow: hidden;
    @include vendors(transition-property, all);
    @include vendors(transition-duration, $transitionDuration);

    @include small() {
      width: 100%;
      left: 100%;
      right: auto;
      top: 0;
      bottom: 0;
      box-shadow: none;
    }

    & > ul {
      margin: 0;
      padding: $contentPadding * 2;
      list-style: none;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

      @include small() {
        box-shadow: none;
      }

      li {
        display: block;
        white-space: nowrap;

        & > ul {
          margin: 0;
          padding: 0 0 0 1.5em;
          list-style: none;
        }

        a {
          display: block;
          padding: $contentPadding / 2 0;
          color: black;
          font-style: italic;
          text-decoration: none;

          &:hover, &.active {
            color: $turquoise;
          }
        }
      }
    }
  }

  @include small() {
    &.open {
      & > .icon {
        float: right;
      }

      & > .container {
        display: block;
        width: 250px;

        @include small() {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

@include notSmall() {
  #navigation {
    .icon {
      display: none;
    }

    & > .container {
      display: block;
      width: auto;
      box-shadow: none;
      position: absolute;
      overflow: visible;

      & > ul {
        padding: 0 $contentPadding 0 0;
        background-color: transparent;
        text-transform: uppercase;
        box-shadow: none;

        li {
          position: relative;

          &, & > a {
            display: block;
            float: left;
            color: white;
            font-style: normal;
            font-weight: 400;

            &:hover, &.active {
              color: $turquoise;
            }

            &.secondary {
              display: none;
            }
          }

          ul {
            display: none;
            position: absolute;
            top: 100%;
            margin-top: -1px;
            right: 0;
            background-color: white;
            padding: $contentPadding / 2 $contentPadding;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

            a {
              color: $fontDarkGray;

              &.active {
                color: $turquoise;
              }
            }
          }

          &:hover {
            & > ul {
              display: block;
            }
          }

          & + li {
            margin-left: 1em;
          }
        }
      }
    }
  }
}

@include animate(rotate) {
  0% {
    @include vendors(transform, rotate(0));
  }

  100% {
    @include vendors(transform, rotate(360deg));
  }
}
