$pagerButtonSize: 40px;
.pager {

  & > .prev, & > .previous, & > .next {
    position: absolute;
    top: 50%;
    z-index: 1000;
    @include ball();

  }

  & > .prev, & > .previous {
    left: 2 * $contentPadding;
  }

  & > .next {
    right: 2 * $contentPadding;
  }
}

.width-wrapper {
  .pager {
    & > .prev, & > .previous {
      @include large() {
        left: -1 * ($pagerButtonSize + $contentPadding);
      }
    }

    & > .next {
      @include large() {
        right: -1 * ($pagerButtonSize + $contentPadding);
      }
    }
  }
}
