.pager {
  $s: 40px;

  & > .prev, & > .previous, & > .next {
    position: absolute;
    top: 50%;

    @include ball();

    &:hover {
      opacity: 0.8;
    }
  }

  & > .prev, & > .previous {
    left: 2 * $contentPadding;

    @include large() {
      left: -1 * ($s + $contentPadding);
    }
  }

  & > .next {
    right: 2 * $contentPadding;

    @include large() {
      right: -1 * ($s + $contentPadding);
    }
  }
}
