#scrollDown {
  $s: 40px;
  @include ball();
  position: fixed;
  z-index: 200;
  bottom: $contentPadding;
  left: 50%;
  cursor: pointer;
  @include vendors(transition-property, all);
  @include vendors(transition-duration, 200ms);
}
