.item {
  position: relative;
  background-color: white;

  [data-vertical="middle"] {
    vertical-align: middle;
  }

  [data-vertical="bottom"] {
    vertical-align: bottom;
  }

  [data-align="center"] {
    text-align: center;
  }

  [data-align="right"] {
    text-align: right;
  }

  &[data-gradient] {
    $d: bottom;

    &[data-gradient="green"], &[data-gradient="turquoise"], &[data-gradient="cyan"] {
      $g1: rgba(36, 196, 192, 0.4);
      $g2: rgba(36, 196, 192, 0);
      background-image: -webkit-linear-gradient($d, $g1, $g2);
      background-image: -moz-linear-gradient($d, $g1, $g2);
      background-image: -ms-linear-gradient($d, $g1, $g2);
      background-image: -o-linear-gradient($d, $g1, $g2);
      background-image: linear-gradient($d, $g1, $g2);
    }

    &[data-gradient="black"] {
      $g1: rgba(0, 0, 0, 0.4);
      $g2: rgba(0, 0, 0, 0.0);
      background-image: -webkit-linear-gradient($d, $g1, $g2);
      background-image: -moz-linear-gradient($d, $g1, $g2);
      background-image: -ms-linear-gradient($d, $g1, $g2);
      background-image: -o-linear-gradient($d, $g1, $g2);
      background-image: linear-gradient($d, $g1, $g2);
    }
  }

  &.item-separator {
    $size: 100px;

    &:before {
      display: block;
      content: ' ';
      position: absolute;
      left: 50%;
      top: 0;
      width: $size;
      height: $size;
      margin-top: -0.5 * $size;
      margin-left: -0.5 * $size;
      background-image: url('../images/homehapp-symbol.svg');
      background-size: contain;
      background-position: center center;
      z-index: 10;
    }
  }

  @import "contexts/widgets/big-image";
  @import "contexts/widgets/content-block";
  @import "contexts/widgets/gallery";
  @import "contexts/widgets/large-text";
}
