@mixin vendors($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

@mixin clearfix() {
  &:before, &:after {
    content: " ";
    display: block;
    clear: both;
    float: none;
    width: 0;
    height: 0;
  }
}

@mixin noOverflow($passthrough: true) {
  @if $passthrough == true {
    @media only screen and (max-width: $largeWidth) {
      @content;
    }
  }
  @else {
    @media only screen and (min-width: $mediumWidth) and (max-width: $mediumWidth + $bannerWidth * 2) {
      @content;
    }
  }
}

@mixin large() {
  @media only screen and (min-width: $mediumWidth) {
    @content;
  }
}

@mixin medium($small: true) {
  @if $small == true {
    @media only screen and (max-width: $mediumWidth) {
      @content;
    }
  }
  @else {
    @media only screen and (min-width: $smallWidth) and (max-width: $mediumWidth) {
      @content;
    }
  }
}

@mixin small() {
  @media only screen and (max-width: $smallWidth) {
    @content;
  }
}

/* !triangle($width, $height, $dir, $color) */
@mixin triangle($width, $height, $dir, $color) {
  $width: $width / 1px;
  $height: $height / 1px;
  
  $mid: $width / 2;
  $p1x: 0;
  $p1y: 0;
  
  $p2x: $width;
  $p2y: 0;
  
  $p3x: $mid;
  $p3y: $height;
  
  @if $dir == up {
    $mid: $width / 2;
    $p1x: 0;
    $p1y: $height;
    
    $p2x: $width;
    $p2y: $height;
    
    $p3x: $mid;
    $p3y: 0;
  }
  
  @if $dir == left {
    $mid: $height / 2;
    $p1x: $width;
    $p1y: $height;
    
    $p2x: 0;
    $p2y: $mid;
    
    $p3x: $width;
    $p3y: 0;
  }
  
  @if $dir == right {
    $mid: $height / 2;
    $p1x: 0;
    $p1y: 0;
    
    $p2x: $width;
    $p2y: $mid;
    
    $p3x: 0;
    $p3y: $height;
  }
  
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="triangle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="#{$width}px" height="#{$height}px" viewBox="0 0 #{$width} #{$height}" enable-background="new 0 0 #{$width} #{$height}" xml:space="preserve"><polygon fill="#{$color}" points="#{$p1x},#{$p1y} #{$p2x},#{$p2y} #{$p3x},#{$p3y} " /></svg>');
}

@mixin animate($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
