$blue: #5785D4;
$turquoise: #62d8b9;
$orange: #ff7d5a;
$red: #ff5555;
$pink: #ffaaa5;
$lightGray: #d5d9d9;
$extraLightGray: #f1f1f1;
$mediumGray: #888888;
$borderGray: #dddddd;
$linkGray: #666666;
$darkGray: #2b3b3d;
$linkBlue: #000088;

$buttonBackground: $darkGray;
$buttonBackgroundHover: darken($buttonBackground, 10%);


$fontGray: #444444;
$fontMediumGray: #7C7C7C;
$fontLightGray: #aaaaaa;
$fontDarkGray: $fontGray;

// Measurements
$headerHeight: 60px;
$footerHeight: 310px;
$contentPadding: 20px;

// Page size breakpoints
$pageWidth: 1200px;
$largeWidth: $pageWidth;
$mediumWidth: $pageWidth;
$smallWidth: 600px;

// Misc
$maskOpacity: 0.1;

// Fonts
$cols: 12;
$baseSize: 20px;
$fontSize: $baseSize;
$fontSizeInput: $baseSize;
$fontSizeHeading1: 3.5 * $baseSize;
$fontSizeHeading2: 2.78 * $baseSize;
$fontSizeHeading3: 1.25 * $baseSize;
$fontSizeSecondary: 0.8 * $baseSize;
$fontSizeButton: 0.8 * $baseSize;
$defaultWeight: 200;
$titleWeight: 200;
$navigationWeight: 200;

$textShadow: 0 0 2px rgba(0, 0, 0, 5 * $maskOpacity);

// Z-indexes
$zHeader: 100;
$zNavigation: $zHeader + 10;
$zModal: 1000;
$zFooter: $zHeader;

// Transitions
$easingEaseOutSlow: cubic-bezier(0,1,0,1);
$transitionDuration: 400ms;
$transitionDurationFast: 200ms;
$transitionDurationSlow: 1000ms;

// Pinterest styled property cards
$cardWidth: 320px; // How wide should one card be
$cardColumns: 4;   // Maximum quantity of columns

// Element sizes
$buttonHeight: 1.8em;
$navigationIconSize: 20px;
$fontSizeButton: $fontSize;

$defaultFont: "Roboto", Helvetica, Arial, sans-serif;
$highlightFont: "Roboto Slab";
