.widget {
  position: relative;

  [data-valign="middle"] {
    vertical-align: middle;
  }

  [data-valign="bottom"] {
    vertical-align: bottom;
  }

  [data-align="center"] {
    text-align: center;
  }

  [data-align="right"] {
    text-align: right;
  }

  // &[data-gradient] {
  //   $d: bottom;
  //
  //   &[data-gradient="green"], &[data-gradient="turquoise"], &[data-gradient="cyan"] {
  //     $g1: rgba(36, 196, 192, 0.4);
  //     $g2: rgba(36, 196, 192, 0);
  //     background-image: -webkit-linear-gradient($d, $g1, $g2);
  //     background-image: -moz-linear-gradient($d, $g1, $g2);
  //     background-image: -ms-linear-gradient($d, $g1, $g2);
  //     background-image: -o-linear-gradient($d, $g1, $g2);
  //     background-image: linear-gradient($d, $g1, $g2);
  //   }
  //
  //   &[data-gradient="black"] {
  //     $g1: rgba(0, 0, 0, 0.4);
  //     $g2: rgba(0, 0, 0, 0.0);
  //     background-image: -webkit-linear-gradient($d, $g1, $g2);
  //     background-image: -moz-linear-gradient($d, $g1, $g2);
  //     background-image: -ms-linear-gradient($d, $g1, $g2);
  //     background-image: -o-linear-gradient($d, $g1, $g2);
  //     background-image: linear-gradient($d, $g1, $g2);
  //   }
  // }

  &.with-gradient {
    @include grayGradient();
  }

  h2 {
    margin-top: 0.5em;
  }

  &.item-separator {
    $size: 100px;

    &:before {
      display: block;
      content: ' ';
      position: absolute;
      left: 50%;
      top: 0;
      width: $size;
      height: $size;
      margin-top: -0.5 * $size;
      margin-left: -0.5 * $size;
      background-image: url('../images/homehapp-symbol.svg');
      background-size: contain;
      background-position: center center;
      z-index: 10;
    }
  }

  &.pattern {
    background-image: url('../images/pattern.gif');
    background-repeat: repeat;
    background-position: left bottom;

    & + .pattern {
      background-position: left top;
      &:before {
        display: block;
        content: ' ';
        padding-top: 1px;
      }
    }
  }

  &.pattern-bottom {
    background-position: left bottom;
  }

  &.pattern-top {
    background-position: left top;
  }

  &.gray {
    background-color: $extraLightGray;
  }

  .width-wrapper .width-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  @import "widgets/agents";
  @import "widgets/attachments";
  @import "widgets/big-image";
  @import "widgets/big-video";
  @import "widgets/cards";
  @import "widgets/columns";
  @import "widgets/content-block";
  @import "widgets/content-image";
  @import "widgets/gallery";
  @import "widgets/hoverable";
  @import "widgets/icon";
  @import "widgets/large-text";
  @import "widgets/loading";
  @import "widgets/map";
  @import "widgets/markdown";
  @import "widgets/separator";
}

// External component overrides
@import "widgets/tabs";
@import "widgets/image";
