<!DOCTYPE html>
<html lang="en">
<head>
  <title><%- site.title %></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE, IE=10, IE=9, IE=8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- !Stylesheets -->
  <% if (env !== 'development') { %>
    <link rel="stylesheet" href="<%= staticPath %>/v<%= revision %>/site/css/all.min.css">
  <% } else { %>
    <link rel="stylesheet" href="<%= staticPath %>/css/vendor.css">
    <link rel="stylesheet" href="<%= staticPath %>/css/site.css">
  <% } %>
  <% if (styleSheets.length) { %>
    <% for (var i = 0; i < styleSheets.length; i++) { %>
      <link rel="stylesheet" href="<%- styleSheets[i] %>">
    <% } %>
  <% } %>

  <!-- !OpenGraph -->
  <% if (metadatas.length) { %>
    <% for (var i = 0; i < metadatas.length; i++) { %>
      <meta property="<%- metadatas[i].property %>" content="<%- metadatas[i].content %>" />
    <% } %>
  <% } %>

  <!-- !Favicons -->
  <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico" />
  <link rel="icon" type="image/png" href="/public/images/favicon-64.png" />
  <link rel="shortcut icon"  type="image/png" href="/public/images/favicon-64.png" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="/public/images/favicon.ico" />

  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/favicon-152.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/images/favicon-144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/favicon-120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/images/favicon-114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/images/favicon-72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/public/images/favicon-57.png" />


  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
  <![endif]-->
</head>
<body>
  <%- body %>

  <% if (env !== 'development') { %>
    <script src="<%= staticPath %>/v<%= revision %>/site/js/vendor.bundle.min.js"></script>
    <script src="<%= staticPath %>/v<%= revision %>/site/js/client.min.js"></script>
  <% } else { %>
    <script src="<%= staticPath %>/js/vendor.bundle.js"></script>
    <script src="<%= staticPath %>/js/client.js"></script>
  <% } %>
</body>
</html>
