<%
var title = [];

if (typeof content !== 'undefined' && typeof content.title !== 'undefined') {
  title.push(content.title);
}

title.push(site.title);
%><!DOCTYPE html>
<html lang="en">
<head>
  <title><%- title.join(' | ') %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE, IE=10, IE=9, IE=8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <% if (env !== 'development') { %>
    <link rel="stylesheet" href="<%= revisionedStaticPath %>/css/all.min.css">
  <% } else { %>
    <link rel="stylesheet" href="<%= revisionedStaticPath %>/css/vendor.css">
    <link rel="stylesheet" href="<%= revisionedStaticPath %>/css/site.css">
  <% } %>
  <% if (styleSheets.length) { %>
    <% for (var i = 0; i < styleSheets.length; i++) { %>
      <link rel="stylesheet" href="<%- styleSheets[i] %>">
    <% } %>
  <% } %>

  <%
    if (metadatas.length) {
      console.log('metadatas', metadatas);
      var meta = [];
      for (var i = 0; i < metadatas.length; i++) {
        for (var k in metadatas[i]) {
          var str = k + '="' + metadatas[i][k] + '"';

          if (meta.indexOf(str) === -1) {
            meta.push(str);
          }
        }
      }

      if (meta.length) {
        %><meta <%- meta.join(' ') %> />
<%
      }
    }
  %>

  <!-- !Favicons -->
  <link rel="shortcut icon" type="image/x-icon" href="<%= revisionedStaticPath %>/images/favicon.ico" />
  <link rel="icon" type="image/png" href="<%= revisionedStaticPath %>/images/favicon-64.png" />
  <link rel="shortcut icon"  type="image/png" href="<%= revisionedStaticPath %>/images/favicon-64.png" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="<%= revisionedStaticPath %>/images/favicon.ico" />

  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= revisionedStaticPath %>/images/favicon-152.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= revisionedStaticPath %>/images/favicon-144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= revisionedStaticPath %>/images/favicon-120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= revisionedStaticPath %>/images/favicon-114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= revisionedStaticPath %>/images/favicon-72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= revisionedStaticPath %>/images/favicon-57.png" />

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,drawing"></script>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
  <![endif]-->
</head>
<body>
  <%- body %>

  <% if (env !== 'development') { %>
    <script src="<%= revisionedStaticPath %>/js/vendor.bundle.min.js"></script>
    <script src="<%= revisionedStaticPath %>/js/client.min.js"></script>
  <% } else { %>
    <script src="<%= revisionedStaticPath %>/js/vendor.bundle.js"></script>
    <script src="<%= revisionedStaticPath %>/js/client.js"></script>
  <% } %>
</body>
</html>
