&.agents {
  padding-top: 5 * $contentPadding;
  padding-bottom: 5 * $contentPadding;
  text-align: center;

  p.title {
    font-size: 24px;
    text-transform: uppercase;
    color: $fontMediumGray;
    font-weight: 400;
    margin: 0;

    & + h3 {
      margin-top: 0;
    }
  }

  a {
    color: black;
  }

  .phone a, .email a {
    padding-left: 60px;
    min-height: 40px;
    line-height: 40px;
    min-width: 120px;
    background-position: left center;
    background-size: auto 40px;
    display: inline-block;
    font-weight: 400;
  }

  .phone a {
    background-image: url('../images/icons/phone.svg');
  }

  .email a {
    background-image: url('../images/icons/mail.svg');
  }

  .agents-list {
    display: block;
    margin: 0;
    padding: $contentPadding 0;
    text-align: center;
    font-weight: 400;

    & > .agent {
      display: inline-block;
      width: 320px;
      margin-left: auto;
      margin-right: auto;
      vertical-align: top;
      text-align: center;

      @include small() {
        width: 100%;
      }

      p {
        min-height: 1.5em;
        line-height: 1.5em;
        margin: 0;
      }

      .title {
        color: $mediumGray;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: $fontSizeSecondary;
      }

      .photo {
        padding: $contentPadding;
        background-image: url('../images/masks/hexagon-white-bordered.svg');
        background-size: contain;
        background-position: center center;
        min-width: 120px;
        display: block;
        margin: $contentPadding auto;

        img {
          @include small() {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
