&.agent {
  padding-top: 5 * $contentPadding;
  padding-bottom: 5 * $contentPadding;
  text-align: center;

  h2 {
    font-size: 56px;
  }

  h3 {
    font-size: 46px;
  }

  p.title {
    font-size: 24px;
    text-transform: uppercase;
    color: $fontMediumGray;
    font-weight: 400;
    margin: 0;

    & + h3 {
      margin-top: 0;
    }
  }

  .agent-details {
    display: table;
    margin-left: auto;
    margin-right: auto;

    & > * {
      display: table-cell;
      vertical-align: middle;
      width: 33.3%;
      font-weight: 400;

      a {
        color: black;
      }

      &.phone a, &.email a {
        padding-top: 60px;
        min-width: 120px;
        background-position: center top;
        background-size: auto 40px;
        display: block;
      }

      &.phone a {
        background-image: url('../images/icons/phone.svg');
      }

      &.email a {
        background-image: url('../images/icons/mail.svg');
      }

      &.photo {
        padding: $contentPadding;
        background-image: url('../images/hexagon-white-with-border.svg');
        background-size: contain;
        background-position: center center;
        min-width: 120px;

        img {
          @include small() {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
