&.big-image, &.video {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  opacity: 1;

  &, h1, h2, h3, p {
    color: white;
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5), 0 0 1em rgba(0, 0, 0, 0.3);
  }

  & > .image-content {
    @include imageFill();
    z-index: -1;

    & > video + img {
      display: none;
    }
  }

  & > .image-author {
    display: block;
    position: absolute;
    bottom: $contentPadding;
    right: $contentPadding;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 1;
  }

  & > .image-text {
    & > .secondary {
      @include notSmall() {
        position: absolute;
        bottom: $contentPadding;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 150%;

        & > span + span:before {
          content: ' // ';
        }
      }
    }

    .icon + h1, .icon + h2 {
      margin-top: 0;
    }
  }

  &.fixed {
    &:before, &:after {
      display: block;
      content: ' ';
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      background-color: white;
    }

    &:before {
      bottom: 100%;
    }

    &:after {
      top: 100%;
    }

    & > img, &.fixed > video, &.fixed > .image-content {
      z-index: -10;
      opacity: 1;
      @include vendors(transition-property, opacity);
      @include vendors(transition-duration, $transitionDuration);

      @include notSmall() {
        position: fixed;
      }

      @include small() {
        @include vendors(transition-property, none);
      }
    }

    &.outside-viewport {
      z-index: -100;

      & > img, &.fixed > video, &.fixed > .image-content {
        opacity: 0;
      }
    }
  }

  &.content-hidden > img, &.content-hidden video, &.content-hidden .image-content {
    z-index: -20;
    opacity: 0;
  }

  & + .fluid {
    height: 100%;
  }

  & > .large-text {
    position: absolute;
    display: table;
    left: 50%;
    margin-left: -0.5 * $pageWidth;
    @include noOverflow() {
      left: 0;
      right: 0;
      margin-left: 0;
    }

    & > .width-wrapper {
      width: auto;
      display: table-row;

      & > * {
        display: table-cell;
        width: 100%;
        height: 100%;
      }

      [data-valign="center"] {
        vertical-align: middle;
      }

      [data-valign="bottom"] {
        vertical-align: bottom;
      }
    }
  }
}
