&.big-video {
  .play-icon {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    font-size: $fontSizeHeading2;
    display: block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    vertical-align: middle;
    margin-left: -1em;
    margin-top: -1em;
    color: white;
    border: solid 2px;
    text-shadow: $textShadow;
    border-radius: 2em;
  }

  .controls {
    $h: 1.5em;
    position: absolute;
    bottom: $contentPadding;
    left: 0;
    right: 0;
    text-align: center;
    font-size: $fontSizeHeading3;
    height: $h;
    line-height: $h;
    color: white;
    text-shadow: $textShadow;

    .invisible {
      opacity: 0;
    }

    & > * {
      text-align: left;
    }

    .controller {
      display: inline-block;
      cursor: pointer;
      @include vendors(transition-property, all);
      @include vendors(transition-duration, $transitionDuration);
      width: 1em;
      margin: 0 0.3em;

      &:hover {
        color: $turquoise;
      }

      &.fullscreen {
        & > .exit {
          display: none;
        }
        &.in-fullscreen > .exit {
          display: inline;
        }
        &.in-fullscreen > .enter {
          display: none;
        }
      }
    }

    .position {
      display: inline-block;
      box-shadow: $textShadow;
      border: solid 1px white;
      width: 5em;
      height: 0.3em;
      margin: -0.15em 0.3em 0;
      vertical-align: middle;
      position: relative;

      & > .bar {
        background-color: white;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        @include vendors(transition-property, width);
        @include vendors(transition-duration, $transitionDuration);

        &.no-transitions {
          @include vendors(transition-property, none);
          @include vendors(transition-duration, 0);
        }
      }
    }
  }
}
