&.content-block {
  padding-top: $contentPadding * 4;
  padding-bottom: $contentPadding * 4;
  background-color: white;

  @include small() {
    padding-top: $contentPadding * 2;
    padding-bottom: $contentPadding * 2;
  }

  img {
    max-width: 100%;
  }

  &.gray {
    background-color: $extraLightGray;
  }

  h2 {
    text-align: center;
  }

  & > *:first-child, & > .width-wrapper > *:first-child {
    margin-top: 0;
  }

  p {
    margin-bottom: 1em;

    &.call-to-action {
      margin: 3 * $contentPadding 0 0;
    }
  }
}

.content-block {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
