&.gallery {
  position: relative;
  background-color: $extraLightGray;
  padding: $contentPadding / 2;

  img {
    display: block;
    float: left;
    padding: $contentPadding / 2;
  }

  &.tight {
    img {
      padding: 1px;
    }
  }
}

// No background colors when already wrapped within a widget
& .gallery {
  background-color: transparent;
}
