&.hoverable {
  display: block;
  overflow: hidden;
  background-color: none;

  & > img {
    opacity: 0;
    display: block;

    @include small() {
      opacity: 1;
      width: 100%;
      height: auto;
    }
  }

  & > .hoverable-wrapper {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;

    @include small() {
      &, & > img.hoverable-image {
        display: none;
      }
    }

    & > img.hoverable-image {
      opacity: 1;
      position: absolute;
      display: block;
      z-index: -1;
      left: 0;
      width: 100%;
      height: auto;
      @include vendors(transition-property, transform);
      @include vendors(transition-timing-function, linear);
      @include vendors(transition-duration, $transitionDurationFast);
    }
  }

  &:hover > .hoverable-wrapper > img.hoverable-image {
    @include vendors(transition-duration, 60s);
    @include vendors(transform, scale(1.5));
  }
}
