.tabs-navigation {
  ul {
    margin: $contentPadding * 2 auto;
    padding: 0;
    list-style: none;
    text-align: center;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 110%;

    & > li {
      display: table-cell;

      a {
        border: solid 1px $darkGray;
        display: block;
        padding: 0.5em 1em;
        color: $darkGray;
        @include vendors(transition-property, all);
        @include vendors(transition-duration, $transitionDuration);

        &:hover {
          background-color: $lightGray;
          text-decoration: none;
        }
      }

      &.is-active {
        a {
          background-color: $darkGray;
          color: white;
        }
      }
    }
  }
}
