.help-inline {
  .alert {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.sort-actions {
  i {
    font-size: 150%;
    & + i {
      margin-left: 0.5em;
    }

    &.disabled {
      opacity: 0;
    }
  }
}

.flashable {
  [data-flash] {
    @include vendors(transition-property, all);
    @include vendors(transition-duration, $transitionDurationSlow);
    @include vendors(animation-name, flash);
    @include vendors(animation-duration, 1500ms);
  }
}

@include animate(flash) {
  0% {
    background-color: rgba(217, 237, 247, 1);
  }

  50% {
    background-color: rgba(217, 237, 247, 1);
  }

  100% {
    background-color: rgba(217, 237, 247, 0);
  }
}

textarea.form-control {
  height: 20em;
}

.markdown-preview, .markdown-example {
  display: block;
  width: 100%;
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  margin-bottom: 1em;
  padding: 1em 0.5em;
}

.preline {
  white-space: pre-line;
}
