#notifications {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 10000;

  .notification {
    margin-bottom: 5px;
    @include vendors(transition-property, all);
    @include vendors(transition-duration, $transitionDuration);
    overflow: hidden;
    height: 53px;

    & > * {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      @include vendors(transition-property, all);
      @include vendors(transition-duration, $transitionDuration);
      @include vendors(transition-delay, $transitionDuration / 2);
    }

    &.away {
      height: 0;

      & > * {
        opacity: 0;
      }
    }
  }
}
